<div class="bg-light" style="padding-bottom: 40px;">
  <header class="masthead text-white text-center masthead">
    <nav class="navbar navbar-light static-top">
      <div class="container">
        <span class="navbar-brand text-white" href="">tw-megaphone</span>
        <span>
          <a href="/followers" class="text-white" style="margin-right: 30px">followers</a>
          <img src="<%= @current_user.image_url %>" class="header-avatar rounded" />
        </span>
      </div>
    </nav>
  </header>
  <div class="container">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 10px; right: 10px;" data-delay="5000">
      <div class="toast-header">
        <span class="mr-auto"></span>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body" style="background-color: #fff">
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h5 class="border-bottom border-gray pb-2 mb-0">Draft your direct message to followers</h5>
      <div class="row justify-content-center form-wrapper">
        <%= form_for :dm, :url => { :action => "create" }, :html => {:class => "dm-form form-group col-10"} do |f| %>
        <div><%= f.text_area :text, class: "form-control dm-text-area", value: @prefill %></div>
        <%= submit_tag "Send DMs to #{@num_follower} followers", class: "btn btn-primary form-control submit-button" %>
        <span class="btn btn-secondary form-control send-test-dm" style="margin-top: 12px;" href="#">
          <span class="send-test-dm-spinner" style="display:none">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </span>
          <span class="send-test-dm-text">Send me test DM</span>
        </span>
        <% end %>
      </div>
    </div>

    <div class="p-3 bg-white rounded box-shadow description-wrapper">
      <h5 class="border-bottom border-gray pb-2 mb-0">How it works?</h5>
      <div class="how-it-works-body">
        <p>Twitter can only sends 1000 DMs per day, so we'll use the <a href="/followers">prioritization rules</a> provided you to send our DMs in the priority order.</p>
        <p>
          Email contains the special link which your follower can use to put email address. 
          Note <span class="text-info">${follower_name}</span>, <span class="text-info">${email_link}</span>, and <span class="text-info">${optout_link}</span> are the 
          special placeholder text and will be replaced when we send DM to your followers.
        </p>
        <p>Preview <a href="<%= @email_link %>" target="_blank">${email_link}</a> or <a href="<%= @optout_link %>" target="_blank">${optout_link}</a> (open in new tab).
        </p>
        <p></p>
      </div>
    </div>
  </div>
</div>