<div class="bg-light">
  <header class="masthead text-white text-center masthead">
    <nav class="navbar navbar-light static-top">
      <div class="container">
        <span class="navbar-brand text-white" href="">tw-megaphone</span>
        <span>
          <a href="/dms/new" class="text-white" style="margin-right: 30px">new DM</a>
          <img src="<%= @current_user.image_url %>" class="header-avatar rounded" />
        </span>
      </div>
    </nav>
  </header>
<% if @import_completed then %>
  <main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h5 class="border-bottom border-gray pb-2 mb-0">Ranking rules</h5>
      <p>You can customize who to send DMs first</p>
      <ul class="list-group rule-group">
        <% @rules.each do |r| %>
          <li class="list-group-item d-flex justify-content-between align-items-center w-100 rule-item">
            <span><%= r.description %></span>
            <i class="fa fa-trash text-muted delete-rule delete-icon" data-item-id="<%= r.id %>"></i>
          </li>
        <% end %>
      </ul>
      <div class="d-flex justify-content-between" style="margin-top: 12px;">
        <button class="btn btn-primary add-new-rule" data-toggle="modal" data-target="#addRuleModal">Add new rule</button>
        <a class="btn btn-success new-dm text-white" href="/dms/new">Draft a new DM</a>
      </div>
    </div>

    <div class="my-5 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Based on your rule above, here is top 50 followers</h6>
      <div class="followers">
      </div>
      <div class="load-follower-spinner" style="display: none;">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <div class="row">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="rerank-progress">
            Updating...
          </div>
        </div>
      </div>
    </div>
  </main>
 
  <!-- Modal -->
  <div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog" aria-labelledby="addRuleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRuleModalLabel">Add new rule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="add-rule-modal-body-footer">
          <div class="modal-body">
            <select class="browser-default custom-select rule-select">
              <option data-type="placeholder" data-description="select-rule-placeholder">Select rule</option>
              <% @available_rules.each do |r| %>
                <option data-type="<%= r[:type] %>" data-description="<%= r[:description] %>"><%= r[:label] %></option>
              <% end %>
            </select>
            <div class="rule-details-input-area"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary add-rule-confirm">Add</button>
          </div>
        </div>
        <div class="add-rule-modal-loading" style="display:none">
          <div class="modal-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <main role="main" class="container sync-follower">
    <div class="sync-follower-spinner">
      <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%">
        <div class="row">
          <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="sync-follower-progress">
          Downloading your follower list from Twitter...
        </div>
      </div>
    </div>
  </main>
<% end %>
</div>

