<div class="bg-light">
  <header class="masthead text-white text-center masthead">
    <nav class="navbar navbar-light static-top">
      <div class="container">
        <a class="navbar-brand text-white" href="">tw-megaphone</a>
        <img src="<%= @current_user.image_url %>" class="header-avatar rounded" />
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h5 class="border-bottom border-gray pb-2 mb-0">Ranking rules</h5>
      <p>You can customize who to send DMs first</p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center w-100">
            <span>If account is verified, add 50 points</span>
            <i class="fa fa-trash text-muted" aria-hidden="true"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center w-100">
            <span>If account is protected, decrement 50 points</span>
            <i class="fa fa-trash text-muted" aria-hidden="true"></i>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center w-100">
            <span>Give 1 points per 100 followers, up to 100 points</span>
            <i class="fa fa-trash text-muted" aria-hidden="true"></i>
        </li>
      </ul>
      <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Add new rule</button>
    </div>

    <div class="my-5 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Based on your rule above, here is top 50 followers</h6>
      <% @followers.each do |f| %>
      <div class="media text-muted pt-3">
        <img src="<%= f.image_url %>" data-holder-rendered="true" class="mr-2 rounded follower-icon" >
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark"><%= f.name %></strong>
            <span>Score: <%= f.score %></span>
          </div>
          <span class="d-block">@<%= f.screen_name %></span>
        </div>
      </div>
      <% end %>
    </div>
  </main>
</div>

